<!DOCTYPE html>
<html>
  <head>
    <title>Ringjacket</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <h1><%= link_to "RING JACKET", root_path %></h1>
      <div class="sns_link">
        <ul class="">
          <li><a href="http://www.ringjacket.co.jp/"><img src="/assets/6777318_home_architecture_house_homepage_office_icon.png" alt="" id="logo"></a></li>
          <li><a href="https://ringjacket.shop/"><img src="/assets/2205959_cart_bag_internet_shopping_buy_icon.png" alt="" id="logo"></a></li>
          <li><a href="https://www.instagram.com/ring_jacket/"><img src="/assets/1298747_instagram_brand_logo_social media_icon.png" alt="" id="logo"></a></li>
          <li><a href="https://www.youtube.com/channel/UC5fcUOLV_vHPCVhCXc6Dujw"><img src="/assets/1298778_youtube_play_video_icon.png" alt="" id="logo"></a></li>
          <li><a href="https://www.facebook.com/RINGJACKET/?ref=bookmarks"><img src="/assets/107117_square_facebook_icon.png" alt="" id="logo"></a></li>
        </ul>
			</div>
      <div class="sign_link">
        <% if user_signed_in? %>
          <%= current_user.name %>
          <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "post" %>
        <% else %>
          <%= link_to "Log in", new_user_session_path, class: "post" %>
          <%= link_to "Sign up", new_user_registration_path, class: "post" %>
        <% end %>
      </div>
    </header>
    <%= yield %>
    <footer>
      <div class="back">    
        <%= link_to "Back", :back %>
      </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stickyfill/2.1.0/stickyfill.min.js"></script>
  </body>
</html>