<!DOCTYPE html>
<html>
  <head>
    <title>Ringjacket</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <h1>RING JACKET</h1>
      <div class="link">
        <ul class="">
          <li><a href="http://www.ringjacket.co.jp/"><img src="/assets/6777318_home_architecture_house_homepage_office_icon.png" alt="" id="logo"></a></li>
          <li><a href="https://ringjacket.shop/"><img src="/assets/2205959_cart_bag_internet_shopping_buy_icon.png" alt="" id="logo"></a></li>
          <li><a href="https://www.instagram.com/ring_jacket/"><img src="/assets/1298747_instagram_brand_logo_social media_icon.png" alt="" id="logo"></a></li>
          <li><a href="https://www.youtube.com/channel/UC5fcUOLV_vHPCVhCXc6Dujw"><img src="/assets/1298778_youtube_play_video_icon.png" alt="" id="logo"></a></li>
          <li><a href="https://www.facebook.com/RINGJACKET/?ref=bookmarks"><img src="/assets/107117_square_facebook_icon.png" alt="" id="logo"></a></li>
        </ul>
			</div>
    </header>
    <%= yield %>
    <footer>
    </footer>
  </body>
</html>