<!DOCTYPE html>
<html>
  <head>
    <title>Ringjacket</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <ul class="snsbtniti">
        <li><a href="http://www.ringjacket.co.jp/" class="flowbtn17 fl_tw2"><i class="fa-regular fa-r"></i></a></li>
        <li><a href="https://www.youtube.com/channel/UC5fcUOLV_vHPCVhCXc6Dujw" class="flowbtn17 fl_yu2"><i class="fab fa-youtube"></i></a></li>
        <li><a href="https://www.instagram.com/ring_jacket/?hl=ja" class="flowbtn17 insta_btn2"><i class="fab fa-instagram"></i></a></li>
      </ul>
      <h1>RING JACKET</h1>
    </header>
    <%= yield %>
  </body>
</html>
<%= yield %>